/* body{
    background-color: aquamarine;
} */
.title{
    text-align: center
} 
body {
    font-family: "Open Sans", sans-serif;
    background: hsl(182, 49%, 65%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
    
  }
.btn-container{
    text-align: center;
    margin: auto;
    
} 
.filter-btn {
  background: transparent;
  border-color: #c59d5f;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  /* color: #c59d5f; */
  cursor: pointer;
  transition: var(--transition);

}
.filter-btn:hover {
  background: #c59d5f;
  color: var(--clr-white);
}
.card{
  width: 18rem;

}
